*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# System files and directories
.Trash/
Downloads/
.CFUserTextEncoding
.MacOSX/
.anaconda/
.android/
.angular-config.json
.bash_profile
.cache/
.claude.json
.claude.json.backup
.claude/
.cocoapods/
.codeium/
.composer/
.conda/
.condarc
.config/
.continuum/
.cursor/
.dart-tool/
.dartServer/
.docker/
.emulator_console_auth_token
.flutter
.flutter-devtools/
.gitconfig
.gradle/
.idlerc/
.javacpp/
.keras/
.lesshst
.lldb/
.local/
.m2/
.npm/
.npmrc
.nuuid.ini
.nvm/
.openjfx/
.profile
.qodo/
.scenebuilder/
.sdkman/
.skiko/
.ssh/
.tcshrc
.viminfo
.windsurf/
.xonshrc
.yarn/
.zcompdump
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
.zshrc .txt
.zshrc.save

# Other projects and directories
AndroidStudioProjects/
Applications/
.localized
Cv/
DT/
FDA/
Fe EduSphere/
Narratra/
Screenshot*.png
Technical Evaluation Task.pdf
algo lec/
appointhub/
biznexio/
democrm/
gem/
gemlov/
mini-ecommerce/
mysql error fix/
narratrax/
note 1_appointx.docx
ocr/
yum/
Documents/
IdeaProjects/
IdeaSnapshots/
Library/
Movies/
Music/
Pictures/
Public/
SEPP_20230305_W2083101.docx
apache-maven-3.x.x-bin.tar.gz
composer-setup.php
development/
flutter_backup/
gson-2.10.jar
index.js
java_error_in_studio.hprof
laravel-app/
php-switcher.sh.save
